@import "../../variables";

.PantryViewContainer {
  @include flex(column, flex-start, center);

  margin-top: 2rem;
  min-height: 70vh;
  width: 100%;
}

.TitleContainer {
  @include flex(column, center, center);

  margin-bottom: 2rem;
  text-align: center;
  width: 100%;

  p {
    margin-top: 1rem;
    max-width: 500px;
    padding: 0 1rem;
  }

  p strong {
    color: $secondaryColor;
  }
}

.PantryItemContainer {
  @include flex(column, center, center);

  min-width: 320px;
  max-width: 600px;
  width: 100%;
  border: 1px solid $darkGray;
  box-shadow: 3px 3px 1px $lightGray;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.PantryTitles {
  @include flex(row, flex-start, center);

  text-align: left;
  width: 100%;

  h3 {
    display: inline-block;
  }

  .Item {
    width: 30%;
  }

  .Price {
    width: 25%;
  }

  .Unit {
    width: 25%;
  }

  .Stock {
    width: 15%;
  }
}
