.PantryViewContainer {
  margin-top: 2rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.TitleAndBtnContainer {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.PantrySaveBtn {
  height: 25px;
  background: transparent;
}

.PantryTitle {
  color: green;
}

.PantryItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.PantryTitles {
  width: 100%;
  h3 {
    display: inline-block;
  }

  .Item {
    width: 30%;
  }

  .Price {
    width: 25%;
  }

  .Unit {
    width: 20%;
  }

  .Stock {
    width: 25%;
  }
}
