.RecipesContainer {
  width: 100vw;
}

.TitleAndControlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1rem;
}

.RecipesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  grid-gap: 1rem;
}

//Tablet
@media only screen and (min-width: 750px) {
  .RecipesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

//Desktop
@media only screen and (min-width: 1000px) {
  .RecipesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1300px) {
  .RecipesGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
