.RecipeFilterContainer {
  margin-top: 1rem;
}

.RecipeFilterContainer label {
  font-weight: bold;
}

.FilterInput {
  margin-left: 1rem;
  border: 1px solid #cbba83;
  height: 1.5rem;
  width: 10rem;
  border-radius: 15px;
}
