@import "../../../variables";

.RecipeFilterContainer {
  min-width: 200px;

  label {
    font-weight: bold;
  }

  .FilterInput {
    display: block;
    margin: 0.5rem 0;
    height: 2rem;
    width: 100%;
  }
}
