@import "../../variables";

.LandingPageContainer {
  @include flex(column, flex-start, center);

  margin-top: 3rem;
  min-height: 90vh;

  h1 {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
  }
}

.BtnContainer {
  .LandingBtn {
    background: $secondaryColor;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 700;
    height: 2rem;
    margin: 0 1rem;
    padding: 0 1rem;
    transition: 0.3s;
    width: 100px;

    &:hover {
      border: 1px solid $darkGray;
    }
  }
}

.Help {
  @include flex(column, flex-start, flex-start);

  margin-top: 2rem;
  padding: 2rem;

  h3,
  p {
    margin-bottom: 1rem;
  }

  h3,
  strong {
    color: $secondaryColor;
  }
}
