@import "../../../variables";

.UserLogo {
  @include flex(column, center, center);

  background-color: $secondaryColor;
  border-radius: 50%;
  flex-shrink: 0;
  height: 50px;
  width: 50px;

  p {
    font-weight: bold;
    letter-spacing: 4px;
  }
}
