.AddRecipeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;

  h1 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    text-align: center;
  }
}
