@import "../../../../variables";

.Modal {
  @include flex(column, space-between, center);

  background: white;
  border: 1px solid black;
  max-width: 600px;
  min-height: 50vh;
  position: absolute;
  width: 70vw;
  z-index: 2;

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.Modal .ShoppingItem:first-child {
  margin-top: 1.5rem;
}

.Modal .ShoppingItem:last-child {
  margin-bottom: 1.5rem;
}

.Backdrop {
  background: rgba(0, 0, 0, 0.3);
  height: 500vh;
  margin-top: -100vh;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.ShoppingItem {
  @include flex(row, space-between, center);

  margin-bottom: 0.5rem;
  width: 100%;

  .Name {
    font-weight: bold;
  }
}
