@import "../../../../variables";

.AddRecipeImage {
  max-width: 80vw;

  input {
    border: 1px solid lightgray;
    height: 2rem;
    margin-bottom: 1rem;
    max-width: 280px;
    padding: 0;

    @include min-width(321px) {
      max-width: 340px;
    }
  }
}

.P {
  margin-bottom: 0.8em;
}
