.AddIngredientsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  input {
    height: 2rem;
  }

  .Num {
    width: 3rem;
  }

  .Type {
    width: 5rem;
  }
}

.removeBtn {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}
