@import "../../../../variables";

.AddRecipeImage {
  input {
    border: 1px solid lightgray;
    height: 2rem;
    margin-bottom: 1rem;
    max-width: 280px;

    @include min-width(321px) {
      max-width: 340px;
    }
  }
}
