@import "../../../variables";

.IndividualRecipeContainer {
  @include flex(column, flex-start, center);

  margin-top: 2rem;
  width: 100%;
}

.IndividualRecipeImg {
  margin-top: 1rem;
  max-width: 500px;
  width: 100%;
}

.Source {
  margin-top: 1rem;
}

.SubContainer {
  @include flex(column, flex-start, flex-start);
}

.TagsContainer {
  @include flex(row, flex-start, center);

  margin-top: 1rem;

  ul {
    @include flex(row);
    margin-left: 2rem;

    li {
      background: $secondaryColor;
      font-weight: bold;
      list-style: none;
      margin-right: 0.1rem;
      padding: 5px 10px;
    }
  }
}

.IngredientsContainer {
  @include flex(column);

  margin-top: 1rem;

  li {
    list-style-type: disc;
    margin-left: 3rem;

    span {
      margin-left: 2rem;
    }

    input {
      margin-left: 2rem;
    }
  }
}

.DirectionsContainer {
  @include flex(column);

  margin-top: 1rem;

  li {
    margin-left: 3rem;
  }
}

.ApproxPrice {
  margin-top: 1rem;

  p {
    margin-left: 3rem;
  }
}

.Controls {
  @include flex(row, center);

  margin: 1rem 0 2rem 0;
  width: 100%;

  button {
    margin: 0 0.2rem;
  }
  .Back {
    @include button();
  }

  .Edit {
    @include button(white, $darkGray, $secondaryColor);
  }

  .Delete {
    @include button(white, $secondaryColor, $secondaryColor, dotted, solid);
  }

  .ConfirmDelete {
    @include button(red);
  }
}

.Controls button:hover {
  border-radius: 0;
}
