.WeekDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.Header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: -2rem;
}

.Title {
  display: flex;
  flex-direction: column;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NameForm {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  select {
    height: 2rem;
    padding: 0;
    width: 160px;
    margin-bottom: 1rem;
  }

  button {
    height: 2rem;
    padding: 0 1rem;
    margin: 0;
  }
}
