@import "../../../variables";

.WeekDisplay {
  @include flex(column, flex-start, center);
  margin: 2rem 0;
}

.Header {
  @include flex(row, space-around, center);
  width: 100vw;
  max-width: 500px;
  padding: 0 1rem;
}

.Title {
  @include flex(column, flex-start, center);

  button {
    @include button();
    margin-top: 1rem;
  }
}

.Form {
  @include flex(column, flex-start, center);

  h4 {
    margin-bottom: 1rem;
  }
}

.NameForm {
  @include flex(column, flex-start, center);

  select {
    height: 2rem;
    width: 160px;
    margin-bottom: 1rem;
  }

  button {
    @include button();
  }
}
