.PantryItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 0;
}

.PantryItemDeleteBtn {
  width: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.PantryItemName {
  width: 100px;
}

.PantryItemName input {
  text-align: center;
  max-width: 100px;
  border: none;
}

.PantryItemSmall {
  border: none;
  width: 40px;
  text-align: center;
}
