@import "../../../variables";

.PantryItem {
  @include flex(row, space-between, center);

  padding: 5px 10px 5px 0;
  width: 100%;
}

.PantryItemDeleteBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 5px;
}

.PantryItemName {
  width: 100px;

  input {
    border: none;
    max-width: 100px;
    text-align: center;
  }
}

.PantryItemSmall {
  border: none;
  text-align: center;
  width: 40px;
}

.Underline {
  border-bottom: 1px solid $secondaryColor;
}
