.PantryItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 0;
}

.PantryItemDeleteBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.PantryItemName {
  text-align: center;
  width: 60px;
  border: none;
}

.PantryItemSmall {
  border: none;
  width: 40px;
  text-align: center;
}
