@import "../../../../variables";

.DayDisplay {
  @include flex(column, center, center);

  border: 1px solid $darkGray;
  margin-top: 3rem;
  max-width: 800px;
  width: 100vw;
}

.TopLine {
  @include flex(row, space-between, center);

  padding: 1rem 1rem;
  position: relative;
  width: 100%;
}

.ShowAddMealBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.BottomLine {
  @include flex(column, center, center);

  width: 100%;
}
