@import "../../../../variables";

.AddTagsContainer {
  @include flex(column, flex-start, flex-start);

  margin-bottom: 1rem;

  input {
    height: 2rem;
  }

  input[type="submit"] {
    background: $secondaryColor;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 1rem;
  }

  input[type="text"] {
    border: 1px solid lightgray;
  }

  ul {
    li {
      margin-left: 2rem;
      max-width: 250px;
      overflow-wrap: break-word;

      @include min-width(321px) {
        max-width: 300px;
      }
    }
  }
}

.removeBtn {
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.Manditory {
  color: $secondaryColor;
  font-size: 1.5rem;
  font-weight: bold;
}
