@import "../../variables";

.Header {
  @include flex(row, space-around, center);

  background: $mainColor;
  border-bottom: 2px solid $darkMain;
  height: 10vh;
  min-height: 90px;
  padding: 0 0.5rem;

  h1 {
    color: $darkGray;
    font-size: $smallTitle;
    text-align: center;
  }

  @include min-width(768px) {
    h1 {
      font-size: $title;
    }
  }
}

.NavContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  max-width: 500px;
  min-width: 160px;
  text-align: center;

  @include min-width(550px) {
    & {
      @include flex(row, space-around, center);
      width: 40%;
    }
  }

  @include min-width(768px) {
    & {
      font-size: $smallTitle;
    }
  }
}

.Logout {
  cursor: pointer;
}
