@import "../../../../variables";

.ServesForm {
  min-width: 60px;

  input {
    border: 1px solid lightgray;
    height: 2rem;
    margin-bottom: 1rem;
    max-width: 280px;
    min-width: 60px;
    padding: 0;

    @include min-width(321px) {
      max-width: 330px;
    }
  }
}

.Manditory {
  color: $secondaryColor;
  font-size: 1.5rem;
  font-weight: bold;
}
