.ServesForm {
  min-width: 60px;
}

.ServesForm input {
  margin-bottom: 1rem;
  height: 2rem;
  padding: 0;
  min-width: 60px;
}

.Manditory {
  font-weight: bold;
  color: red;
  font-size: 1.5rem;
}
