.TagsContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.Tag {
  height: 2rem;
  list-style: none;
  background: #ef5350;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}
