@import "../.././../variables";

.LoginContainer {
  @include flex(column, flex-start, center);

  margin-top: 3rem;
  width: 100%;

  h1 {
    margin-bottom: 2rem;
  }
}

.FormContainer {
  min-width: 300px;

  input {
    height: 2rem;
    margin: 0.5rem 0;
    width: 100%;
  }

  label {
    font-weight: 700;
  }
}

.LoginBtn {
  @include button();
}
