.Meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MealItem {
  display: flex;
  align-items: center;
  border-right: 1px solid lightgray;
  height: 50px;
  padding-right: 3rem;

  p {
    color: navy;
    font-size: 1.5rem;
  }
}

.Breakfast {
  background: yellow;
}

.Lunch {
  background: lightgreen;
}

.Dinner {
  background: lightcoral;
}

.Snack {
  background: lightblue;
}
