@import "../../../../../variables";

.Meal {
  display: grid;
  font-size: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  margin-bottom: 1rem;
  width: 100%;

  div {
    @include flex(row, center, center);
  }
}

.MealRecipe {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  text-align: center;
  font-size: 1.4rem;
}

.MealName {
  p {
    padding: 5px;
    font-size: 1.4rem;
  }
}

//MEAL COLORS
.Breakfast {
  background: yellow;
}
.Lunch {
  background: lightgreen;
}
.Dinner {
  background: lightcoral;
}
.Snack {
  background: lightblue;
}
