@import "../../../../../variables";

.AddMeal {
  @include flex(column, center, center);

  background: white;
  border: 1px solid black;
  height: 250px;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  z-index: 2;

  form {
    @include flex(column, center, center);

    height: 100%;

    select:nth-child(1) {
      margin: 1rem 0;
    }

    .Input {
      display: block;
      width: 200px;
      height: 2rem;
    }
  }
}

.TitleAndBack {
  position: relative;

  div {
    cursor: pointer;
    position: absolute;
    right: -7.2rem;
    top: 0.4rem;
  }
}

.AddMealSubmit {
  @include button();

  margin-top: 1rem;
}
