@import "../../../variables";

.AddRecipeContainer {
  @include flex(column, center, center);
  width: 100%;
  padding: 2rem;

  h1 {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    text-align: center;
  }
}

.ContainerTwo {
  @include flex(column, center, flex-start);
}
