@import "../../../variables";

.PantryItem {
  @include flex(row, space-between, center);

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 1.2rem 10px 1.2rem 0;
  width: 100%;
}

.PantryItemName {
  max-width: 100px;

  input {
    border: none;
    font-size: 1.2rem;
    max-width: 100px;
    min-width: 100px;
  }
}

.PantryItemSmall {
  border: none;
  font-size: 1.2rem;
  text-align: center;
  width: 60px;
}

.Underline {
  border-bottom: 1px solid $secondaryColor;
}

.PantryItemAddBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0;
  padding: 0;
  width: 5px;
}

.Type {
  width: 50px;
}
